.heart-icon {
    font-size: 30px;
}

.box-shadow-pulse {
    display: grid;
    // place-items: center;
    border-radius: 50%;
    // height: 10vmax;
    aspect-ratio: 1;
    // background-color:var(--ion-color-rmprimary);
}

.box-shadow-pulse:hover {
    animation: pulsation_bouton 1s ease-out
}

@keyframes pulsation_bouton {
    from {
        box-shadow: 0 0 0 -3px var(--ion-color-frgreen), 0 0 0 0 var(--ion-color-frgreen);
    }
    to {
        box-shadow: 0 0 0 3px var(--ion-color-frgreen), 0 0 0 5px var(--ion-color-dark)
    }
}
.progress-circle{
    position: relative;             /* pour servir de référent */
    box-sizing: border-box;         /* prise en compte bordure dans la dimension */
    font-size: 6em;                 /* pour définir les dimensions */
    width: 0.5em;                     /* fixe la largeur */
    height: 0.5em;                    /* fixe la hauteur */
    border-radius: 50%;             /* rendu aspect circulaire */      /* couleur de fond de l'anneau */
    // background-color: #FFF; 
    margin: 12px;        /* couleur de fond de la progress bar */
}
.progress-masque {
    position: absolute;
    width: 1em;                     /* 100% de la largeur */
    height: 1em;                    /* 100% de la hauteur */
    left: -.15em;                   /* décalage de la largeur bordure de la gauge */
    top: -.15em;                    /* décalage de la largeur bordure de la gauge */
    clip: rect(0, 1em, 1em, .5em);  /* par défaut seule la partie droite est visible */
}
.progress-sup50 {
    display: none;
    clip: rect(0, 1em, 1em, .5em);
  }
  .progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-sup50,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-sup50,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-sup50,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-sup50,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-sup50,
.progress-circle[data-value^='100'] .progress-sup50 {
  display:block;
}
.progress-circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress-masque,
.progress-circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress-masque,
.progress-circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress-masque,
.progress-circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress-masque,
.progress-circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress-masque,
.progress-circle[data-value^='100'] .progress-masque {
  clip: rect(auto, auto, auto, auto);
}
// .progress-barre,
// .progress-sup50 {
//   position: absolute;
//   box-sizing: border-box;         /* prise en compte bordure dans la dimension */
//   border-width: .15em;            /* largeur bordure de la gauge */
//   border-style: solid;
//   border-color: #069;
//   border-radius: 50%;             /* rendu aspect circulaire */
//   width: 1em;                     /* largeur à 100% */
//   height: 1em;                    /* hauteur à 100% */
//   clip: rect(0, .5em, 1em, 0);    /* on ne garde que la partie gauche */
// }
// .progress-circle.red {
//     border-color: #F8E0E0;          /* couleur de fond de la barre */
//   }
//   .progress-circle.red .progress-masque {
//     border-color: #B40000;          /* couleur de la barre d'avancement */
//   }
// .progress-circle:after {
//     content: attr(data-value) "%";  /* récup. valeur de progression */
//     font-size: 0.15em;              /* taille de la font en % du parent */
//     height: 100%;                   /* centrage dans le parent */
//     display: flex;
//     align-items: center;
//     justify-content: center;
  
//     /*-- pour effet shadow intérieur --*/
//     border-radius: 50%;
//     // box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;
//   }
// .progress-sup50 {
//     display: none;
//     clip: rect(0, 1em, 1em, .5em);
//   }
//   .progress-circle.small {
//     font-size: 5em;                 /* soit 80px avec une font de 16px */
//   }
  .progress-circle.thin,
.progress-circle.thin .progress-barre,
.progress-circle.thin .progress-sup50 {
  border-width: .075em;           /* largeur bordure de la gauge */
}
.progress-circle.thin .progress-masque {
  left: -.075em;                  /* largeur bordure gauge */
  top: -.075em;                   /* largeur bordure gauge */
}
.progress-circle1{
    border: 5px solid var(--ion-color-frgreen); 
}
.progress-circle2{
    border: 5px solid var(--ion-color-frorange); 
}
.progress-circle3{
    border: 5px solid var(--ion-color-fryellowlight); 
}
.progress-circle4{
    border: 5px solid var(--ion-color-frgreenlight); 
}
.progress-circle5{
    border: 5px solid var(--ion-color-frpurplelight); 
}
.text-detail{
    border-bottom: 2px dotted;
}
.container-infos{
    background-color: var(--ion-color-white);
    border-radius: 40px 40px 0px 0px;
}