<ion-header>
  <ion-toolbar color="frgreenextralight" class="p-20">
    <ion-title class="text-center"><h1>{{fruitSelected.name}}</h1></ion-title>
    <ion-back-button slot="start" :color="{{colorfruit}}" text="" icon="chevron-back-circle-outline"></ion-back-button>
    <ion-icon slot="end" :name="{{isLikeIcon}}" class="heart-icon  box-shadow-pulse" (click)="liked()"
      :color="{{colorfruit}}"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content color="frgreenextralight">
  <div>
    <ion-img :src="{{imgfruit}}"></ion-img>
  </div>
  <!-- <div><round-progress
    [current]="fruitSelected.nutritions.sugar"
    [max]="100"
    :color="frgreen"
    [radius]="125"
    [stroke]="20"
    [semicircle]="false"
    [rounded]="true"
    [clockwise]="false"
    [responsive]="true"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="2">
  </round-progress></div>
  <div><round-progress
    [current]="fruitSelected.nutritions.sugar"
    [max]="100"
    [color]="'#45ccce'"
    [background]="'#eaeaea'"
    [radius]="125"
    [stroke]="20"
    [semicircle]="false"
    [rounded]="true"
    [clockwise]="false"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0">
  </round-progress></div> -->
  <div class="container-infos">
    <div>
      <h1 class="text-center">
        <ion-text :color="{{colorfruit}}">{{fruitSelected.name}}</ion-text>
      </h1>
    </div>
    <div class="d-flex justify-around">
      <div>
        <div class="text-center pr-20">{{fruitSelected.nutritions.carbohydrates}}</div>
        <div class="progress-circle progress-circle1" data-value="38">
          <!-- <div class="progress-masque">
            <div class="progress-barre"></div>
            <div class="progress-sup50"></div>
          </div> -->
        </div>
        <div class="text-center">
          Carbohydrates
        </div>
      </div>
      <div>
        <div class="text-center">{{fruitSelected.nutritions.protein}}</div>
        <div class="progress-circle progress-circle2" data-value="38">
        </div>
        <div class="text-center">
          Protein
        </div>
      </div>
      <div>
        <div class="text-center">{{fruitSelected.nutritions.fat}}</div>
        <div class="progress-circle progress-circle3" data-value="38">
        </div>
        <div class="text-center">
          Fat
        </div>
      </div>
      <div>
        <div class="text-center">{{fruitSelected.nutritions.calories}}</div>
        <div class="progress-circle progress-circle4" data-value="38">
        </div>
        <div class="text-center">
          Calories
        </div>
      </div>
      <div>
        <div class="text-center">{{fruitSelected.nutritions.sugar}}</div>
        <div class="progress-circle progress-circle5" data-value="38">
        </div>
        <div class="text-center">
          Sugar
        </div>
      </div>
    </div>
    <div class="p-20">
      <div>
        <h2><ion-text :color="{{colorfruit}}" class="font-bold text-detail">More details</ion-text></h2>
      </div>
      <div>
        <div class="d-flex justify-between">
          <div>GENUS</div>
          <div><ion-text :color="{{colorfruit}}" class="font-bold">{{fruitSelected.genus}}</ion-text></div>
        </div>
        <div class="d-flex justify-between mt-20">
          <div>FAMILY</div>
          <div><ion-text :color="{{colorfruit}}" class="font-bold">{{fruitSelected.family}}</ion-text></div>
        </div>
        <div class="d-flex justify-between mt-20">
          <div>ORDER</div>
          <div><ion-text :color="{{colorfruit}}" class="font-bold">{{fruitSelected.order}}</ion-text></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>