<ion-header [translucent]="true">
  <script src="../../../assets/cordova.js"></script>
  <ion-toolbar color="frgreenextralight">
    <div class="d-flex justify-between">
      <div>
        <ion-img src="assets/img/logo7.png" class="logo"></ion-img>
      </div>
      <div class="">
        <ion-input *ngIf="isHide" class="input text-bold" placeholder="search fruit" clearInput debounce="500">
          <ion-icon name="search-sharp" class="p-5 icon-search" (click)="showInput()" color="light"></ion-icon>
          <ion-icon name="close-sharp" slot="end" (click)="closeInput()"></ion-icon>
        </ion-input>
        <ion-icon *ngIf="!isHide" name="search-circle-sharp" class="search-icon" (click)="showInput()" (ionChange)="handleChange($event)"></ion-icon>
      </div>
    </div>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="frgreenextralight">
  <div class="container" id="container">
    <div class="d-flex overflow-x">
      <!-- <div>
        <ion-img src="assets/img/eclaboussure-orange.png" class="absolute img-bg z-1"></ion-img>
      </div> -->
      <div class="w-full">
        <ion-card class="card-info">
          <p class="absolute title text-center">
            <ion-text color="light"><h1 class="font-bold">FruitRichelle is a fruit application at your disposal to satisfy all your desires.</h1></ion-text>
          </p>
          <ion-img src="assets/img/eclaboussure-orange.png" class="img-card"></ion-img>
        </ion-card>
      </div>
    </div>
    <div class="container-fruit">
      <div class="title-category d-flex overflow-x">
        <div *ngFor="let cat of Scategories" class="pl-15">
          <h2><ion-text (click)="choosedCat(cat)" [ngClass]="{ 'tablinks': selectCat == cat}">{{cat}}</ion-text></h2>
        </div>
      </div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let fruit of fruitsOfCat">
              <!-- <div> -->
              <ion-card :color="{{fruit.color}}" (click) = "toPage(fruit)">
                <ion-badge class="badge-fruit" color="frgreen"><ion-icon name="information-circle-outline" class="icon-fruit"></ion-icon></ion-badge>
                <!-- <div class="content-img"> -->
                <ion-img :src="{{fruit.img}}" class="img-fruit m-auto"></ion-img>
                <!-- </div> -->
                <!-- <div> -->
                <ion-header class="mt--20 h-50"><h2 class="text-center">{{fruit.name}}</h2>
                </ion-header>
                 <!-- </div> -->
              </ion-card>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>