
.logo {
  width: 190px;
}

.search-icon {
  padding: 17px;
  font-size: 45px;
  color: var(--ion-color-frgreenlight);
}

.title {
  padding: 20px;
  font-size: 16px;
}
.card-info{
  background: linear-gradient(to top, var(--ion-color-frgreen), var(--ion-color-frgreenlight));
}
.img-card{
  width: 320px;
  height: 200px;
}
.img-bg{
  margin-top: 200px;
}
.img-fruit{
  width: 150px;
  height: 120px;
}
ion-card{
  border-radius: 40px;
}
.badge-fruit{
  margin-top: 5px;
  width: 40px;
  border-radius: 100%;
}
.icon-fruit{
  font-size: 30px;
}

ion-img{
  object-fit: cover;
}

.input{
  padding: 10px!important;
  background-color: var(--ion-color-frgreenlight);
  border-radius: 19px;
  width: 100%;
  height: 42px;  
  margin-top: 20px;
}
.icon-search{
  font-size: 20px;
}
.button-add{
  color: var(--ion-color-frgreenlight);
}
.tablinks{
  color: var(--ion-color-frgreen);;
  border-bottom: 2px solid;
}

.img-bg {
  background: linear-gradient(to right, rgba(50, 70, 80, 0.7), rgba(30, 20, 150, 0.7));
}
