<ion-header [translucent]="true">
  <!-- <ion-toolbar color="frgreenextralight">
    <ion-title>
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" color="frgreenextralight">
  <div class="container" id="container">
    <div>
      <ion-img src="assets/img/eclaboussure-orange.png" class="absolute z-1"></ion-img>
      <h1 class="bold text-center"><ion-text color="frgreen">SHOPPING FRUIT TIME !</ion-text></h1>
    </div>
    <div class="text-center italic">welcome to our fruit app.</div>
    <div class="mt-30">
      <ion-img src="assets/img/people-shop.png"></ion-img>
    </div>
    <div class="container-button mt-20">
      <ion-button class="start-button" color="frgreen" [routerLink]="['/tabs/home']"> Start<ion-icon name="flame-sharp" class="icon-fire p-5"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
