.container{
    padding: 20px;
  }
  .icon-fire{
    color: var(--ion-color-frorange);
  }
  .start-button{
    width: 100%;
    height: 50px;
  }
  .container-button{
    padding-left: 10%;
    padding-right: 10%;
  }
 