ion-card {
    border-radius: 40px;
}

.badge-fruit {
    margin-top: 5px;
    width: 40px;
    border-radius: 100%;
}
ion-skeleton-text {
    --border-radius: 9999px;
    --background: var(--ion-color-frpurplelight);
    --background-rgb: 188, 0, 255;
  }
.icon-fruit {
    font-size: 30px;
}
.img-fruit{
    width: 150px;
    height: 120px;
  }
.icon-fruit {
    font-size: 30px;
}
.content-search{
    padding-left: 50px;
    padding-right: 50px;
}
ion-img {
    object-fit: cover;
}

.title-fruit {
    border-bottom: 2px dotted;
}

.input {
    padding: 10px !important;
    background-color: var(--ion-color-frgreenlight);
    border-radius: 10px;
    // width: 300px;
    width: 100%;
    height: 45px;
}