<ion-header>
  <ion-toolbar>
    <div class="d-flex">
      <div class="p-4">
        <ion-input class="input text-bold" placeholder="search fruit" clearInput (ionChange)="handleChange($event)" debounce="1000">
          <ion-icon name="search-sharp" class="p-5 icon-search"  color="light"></ion-icon>
        </ion-input>
        <!-- <ion-icon *ngIf="!isHide" name="search-circle-sharp" class="search-icon" (click)="showInput()"></ion-icon> -->
      </div>
      <div class="d-flex justify-between p-10"><div><ion-button class="button-add" id="open-modal" color="frgreen"><ion-icon name="add-circle-sharp"></ion-icon>ADD fruit</ion-button></div></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="frgreenextralight">

 <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="frgreenextralight">
          <div class="d-flex justify-between">
            <div>
              <ion-button (click)="cancel()" class="button-form" color="danger">Cancel</ion-button>
            </div>
            <div><ion-title>SAVE FRUIT</ion-title></div>
            <div>
              <ion-button (click)="confirm()" [strong]="true" class="button-form" color="frgreen">Confirm</ion-button>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"  color="frgreenextralight">
        <div class="mt-15" *ngIf="!isOk">
          <p><ion-text color="danger">Please fill in all the requirements please</ion-text></p>
        </div>
        <!-- <ion-item> -->
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Name</ion-label>
          <ion-input type="text" placeholder="name of fruit" [(ngModel)]="name" class="input mt-10"></ion-input>
        </div>
        <!-- </ion-item> -->
        <!-- <ion-item> -->
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Family</ion-label>
          <ion-input type="text" placeholder="family of fruit" [(ngModel)]="family" class="input mt-10" required="required"></ion-input>
        </div>
        <!-- </ion-item> -->
        <!-- <ion-item> -->
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Genus</ion-label>
          <ion-input type="text" placeholder="genus of fruit" [(ngModel)]="genus" class="input mt-10"></ion-input>
        </div>
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Order</ion-label>
          <ion-input type="text" placeholder="order of fruit" [(ngModel)]="order" class="input mt-10"></ion-input>
        </div>
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Carbohydrates</ion-label>
          <ion-input type="number" placeholder="carbohydrates" [(ngModel)]="carbohydrates" class="input mt-10"></ion-input>
        </div>
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Protein</ion-label>
          <ion-input type="number" placeholder="protein" [(ngModel)]="protein" class="input mt-10"></ion-input>
        </div>
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Fat</ion-label>
          <ion-input type="number" placeholder="fat" [(ngModel)]="fat" class="input mt-10"></ion-input>
        </div>
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Calories</ion-label>
          <ion-input type="number" placeholder="calories" [(ngModel)]="calories" class="input mt-10"></ion-input>
        </div>
        <div class="mt-15">
          <ion-label position="stacked" class="ml-10">Sugar</ion-label>
          <ion-input type="number" placeholder="sugar" [(ngModel)]="sugar" class="input mt-10"></ion-input>
        </div>
        <!-- </ion-item> -->
        
      </ion-content>
    </ng-template>
  </ion-modal>
  <div><h2 class="text-center"><ion-text color="frgreen" class="title-fruit">List Of Our Fruits</ion-text></h2></div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let fruit of resultsOfFilter"> 
          <ion-card :color="{{fruit.color}}" (click) = "toPage(fruit)">
            <ion-badge color="frgreen"><ion-icon name="information-circle-outline"></ion-icon></ion-badge>
            <!-- <div class="content-img"> -->
            <ion-img :src="{{fruit.img}}" class="img-fruit"></ion-img>
            <!-- </div> -->
            <!-- <div> -->
            <ion-header class="mt--20"><h2 class="text-center">{{fruit.name}}</h2>
            </ion-header>
             <!-- </div> -->
          </ion-card>
        </ion-col>
        <!-- </div>
    <div> -->
        <!-- <ion-col size="6">
          <ion-card class="card-mangue">
            <ion-img src="assets/img/mangue-entiere.png" class="img-fruit"></ion-img>
          </ion-card>
        </ion-col> -->
        <!-- </div>
    <div> -->
        <!-- <ion-card class="card-kiwi">
          <ion-img src="assets/img/kiwi.png" class="img-fruit"></ion-img>
        </ion-card> -->
        <!-- </div> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
