<ion-header>
  <ion-toolbar color="frgreenextralight">
    <ion-title class="text-center" color="frgreen">ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="frgreenextralight">
  <div class="img-home">
    <ion-img src="assets/img/healthy-diet-concept.png"></ion-img>
  </div>
  <div class="p-20">
    <ion-img src="assets/img/logo7.png"></ion-img>
  </div>
  <ion-slides pager="true" [options]="slideOpts" mode="ios" class="mb-20">
    <ion-slide>
      <div class="text-slide">
        <ion-text>Our sales fruits application is the solution to all your problems</ion-text>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="text-slide">
        <ion-text>The music softens the mood and revives the flame of love in you</ion-text>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="text-slide">
        <ion-text>Stop listening to music online, RicheMusic is here for you</ion-text>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
